@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@charset 'utf-8';

/* ============================================================ */
/* Base */
/* ============================================================ */

html {
  margin-top: 50px;
  margin-bottom: 50px;
}

body,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #555555;
  text-align: justify;
}

body {
  font-size: 20px;
}

/* ============================================================ */
/* Links */
/* ============================================================ */

a, a:active, a:visited {
  color: #d44950;
  text-decoration: none;
}

a:hover {
  color: #555555;
  text-decoration: none;
}

/* ============================================================ */
/* Sections */
/* ============================================================ */

.logo-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  color: #333333;
  font-weight: bold;
}

.navi-links {
  text-align: center;
}

.content-heading {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.footer {
  font-size: 13px;
  text-align: center;
}

.extra-large {
  font-size: 99px;
}

.link-gap {
  padding-left: 15px;
  padding-right: 15px;
}
