@import 'https://fonts.googleapis.com/css?family=BioRhyme|Poppins';
@charset 'utf-8';

/* ============================================================ */
/* Base */
/* ============================================================ */

html {
  margin-top: 50px;
  margin-bottom: 50px;
}

body,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #555555;
  text-align: justify;
}

/* ============================================================ */
/* Links */
/* ============================================================ */

a, a:active, a:visited {
  color: #d44950;
}

a:hover {
  color: #555555;
  text-decoration: none;
}

/* ============================================================ */
/* Sections */
/* ============================================================ */

.logo-header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'BioRhyme', serif;
}

.navi-links {
  text-align: center;
}

.content-heading {
  text-align: center;
}
