---
title: F R | contact
---
= partial 'partials/menu.slim'

h3.content-heading contact
.site-content
  p If you'd like to get in touch, you can find me on #{link_to "LinkedIn", 'https://linkedin.com/in/frizalman/', target: '_blank'}.
